* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

#month {
  padding: 70px 25px;
  width: 100%;
  background: lightblue;
  display:flex;
  height:200px;
 
}

.flex-container {
  display: flex;
  background-color: lightcoral;
}
.flex-container > div {
  padding: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width:100px;
}

#monthText{
  font:arial;
  font-size: larger;
  text-align: center;
}

#cardcontenta {
  color: #229954;
  font-weight: bold;
  text-decoration: none;
  align-self: center;
}

#backgroundDiv{
  widows: 70%;
  height:50%;
}

#imageDiv{
  width:400;
  height:250;

}
#title{
  text-align: center;
  font: helvetica;
}
#dayInfoDiv{
  padding: 20px;
  background:lightgreen;
  border:1px, black;
  width: 150px;
  height: 250px;
  margin-right:25px;
  margin-top:20px;
  display:inline-block;
  align-self:left;

}

#newEventDiv{
  padding: 70px 25px;
  width: 100%;
  background: rgb(212, 35, 222);
  text-align: center;
}

#editEventDiv{
  padding: 70px;
  width: 100%;
  background:lightgreen;
  vertical-align: top;

}

#monthDaysDiv{
  margin-right:25px;
  padding:70px;
  display:inline-block;
  width: 80px;
  height: 40px;

}