* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: lightblue;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
  border:2px;
}

#cardcontenta {
  color: #229954;
  font-weight: bold;
  text-decoration: none;
  align-self: center;
}

#backgroundDiv{
  widows: 70%;
  height:50%;
}

#imageDiv{
  width:50%;
  height:130%;

}
#title{
  text-align: center;
  font: helvetica;


}
.dayInfoDiv{
  padding: 20px;
  background:lightgreen;
  border:1px, black;
  width: 150px;
  height: 250px;
  margin-right:25px;
  margin-top:20px;
  display:inline-block;
  align-self:left;

}

#newEventDiv{
  padding: 70px 25px;
  width: 100%;
  background: rgb(212, 35, 222);
  text-align: center;
}

#editEventDiv{
  padding: 70px 25px;
  width: 100%;
  background:lightgreen;
  text-align: center;

}

#monthDaysDiv{
  margin-right:25px;
  padding:20px;
  display:inline-block;
  width: 80px;
  height: 40px;

}