* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

#month {
  padding: 20px;

  width: 100%;
  background: lightblue;
  height:150px;
  font-style:bold;
  display:inline-block;

 
}

#zeros{
  padding: 20px;
  border:1px, black;
  width: 150px;
  height: 250px;
  margin-right:25px;
  margin-top:20px;
  align-self:left;
  display:inline-block;

}

.flex-container {
  display: flex;
  background-color: rgb(187, 247, 255);
}
.flex-container > div {
  padding: 70px;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  width:100px;
}
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#monthText{
  font:arial;
  font-size: larger;
  text-align: center;

}

#backgroundDiv{
  widows: 70%;
  height:50%;
}

#imageDiv{
  max-width:100%;
  max-height:100%;

}
#title{
  text-align: center;
  font: helvetica;
}

#daysWrapper{
  background:rgb(118, 189, 255);
  width: 9000px;
  margin: auto;

}

.dayInfoDiv{
  padding: 20px;
  background:rgb(175, 243, 255);
  border: 1px, black;
  width: 150px;
  height: 250px;

  display: grid;
  grid-template-columns: repeat(7, 1fr);

}

#newEventDiv{
  padding: 40px 25px;
  width: 100%;
  background: rgb(255, 255, 255);
  text-align: center;
}

#editEventDiv{
  padding: 40px;
  width: 100%;
  background:lightgreen;
  vertical-align: top;

}

.monthDaysDiv{
  width:120px;
  padding: 20px;
  margin-top: 20px;
  height:150px;
  display:inline-block;

}