<!DOCTYPE html>
<div style="background-image: url('https://jdmastarblogdotcom.files.wordpress.com/2017/04/dsc03065-1000x562.jpg');" id = "backgroundDiv">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<h1 id = "title">Events in California</h1>
<link rel="stylesheet" href="/static/style.css">
  {% block head %}{% endblock %}
</head>
<body>
    <nav>
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
    </nav>
  
    {% block content %}{% endblock %}
  
    <footer>
      <div>
        Copyright 2020 David Guerrero
      </div>
    </footer>
  </body>
</div>
  
  </html>
