{% extends 'base.html' %}
{% block content %}
<div id = "monthText">{{current_month}}</div>
<div id="month">

    <div>
        {% for calendar_day in calendar_days%}
            <div id = "monthDaysDiv">
                {{calendar_day}}
            </div>
        {% endfor %}
    </div>
</div>

<div id = "daysWrapper">
{% for day in days%}
    {% if day == 0 %}
    <div id = "zeros">  
    </div>
    {%endif%}
    {% if day != 0 %}
        <div id = "dayInfoDiv">  
            {{day}}
            <a href="/create/{{day}}" class="nav">+ New Event</a>
                    
        {% if day%7==0 %}
            <div></div>
        {%endif%}
   
        {% for event in range(events.count()) %}
            {%if day|int()==events[event].day_chosen %}
                <a href="/event/{{ events[event]._id }}"><img src="{{ events[event].photo_url }}" id="imageDiv"></a>
                <a href="/event/{{ events[event]._id }}">{{ events[event].event_name }}</a>
    
            {%endif%}
    
        {%endfor%}   
        </div>
    {% endif %}
    
{%endfor%}

</div>
       
{% endblock content %}