{% extends 'base.html' %}
{% block content %}
<div id = "monthText">{{current_month}}</div>
<div class = "day-of-the-week">

    <div class="collapse navbar-collapse" id="month">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
        {% for calendar_day in calendar_days%}
            <div class = "monthDaysDiv">
                {{calendar_day}}
            </div>
        {% endfor %}
        </li>
        </ul>
    </div>
</div>
{% set day = 0 -%}

<section class="bg-light">
    <div class="date-grid">

    {% for day in days%}
        {% if day == 0 %}
            <div id = "zeros">  
            </div>
        {%endif%}
        {% if day == 1 %}
            <div class = "dayInfoDiv">  
                {{day}}
                <a href="/create/{{day}}" class="nav">+ New Event</a>
                        
        
            {% if eventsPresent == True %}
            {% for event in range(events.count()) %}
                {%if day|int()==events[event].day_chosen %}
                    <a href="/event/{{ events[event]._id }}"><img src="{{ events[event].photo_url }}" id="imageDiv"></a>
                    <a href="/event/{{ events[event]._id }}">{{ events[event].event_name }}</a>
        
                {%endif%}
        
            {%endfor%}   
            {% endif %}

            </div>
        {%endif%}
        {% if day != 0 and day!=1 %}
            <div class = "dayInfoDiv">  
                {{day}}
                <a href="/create/{{day}}" class="nav">+ New Event</a>
                        
         
            {% if eventsPresent == True %}
            {% for event in range(events.count()) %}
                {%if day|int()==events[event].day_chosen %}
                    <a href="/event/{{ events[event]._id }}"><img src="{{ events[event].photo_url }}" id="imageDiv"></a>
                    <a href="/event/{{ events[event]._id }}">{{ events[event].event_name }}</a>
        
                {%endif%}
        
            {%endfor%}   
            {% endif %}

            </div>
        {% endif %}
      
        {% set day = day + 1 -%}

    {%endfor%}

    </div>
</section>
       
{% endblock content %}